:root {
  --blue: #2777b0;
  --darkBlue: #081047;
  --blueSky: #00bbff;
  --white: #ffffff;
  --lightCeladon: #dcf7c6;
  --orange: #ffc048;
  --darkOrange: #ff8e00;
  --lightOrange: #ff9800;
  --gray: #bababa;
  --lightGray: #c3c3c3;
  --black: rgba(0, 0, 0, 0.7);
  --darkGray: #878686;
  --info: #979797;
  --blizzardBlue: #a0e8fd;
  --darkBlizzardBlue: #77d9ff;
  --chiliRed: #f44336;
  --coquelicot: rgba(249, 98, 53);
  --blackOlive: #2f2f2f;
  --darkGreen: #009688;
  --green: #4caf50;
  --purple: #9c27b0;
  --pink: #e91e63;
  --primaryBlue: #00acc1;

}
